#app {
  
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-top: $sideBarWidth;
    position  : relative;
  }
  
  .sidebar-container {
    transition      : height 0.28s;
    height          : $sideBarWidth !important;
    background-color: rgba(0, 0, 0, 0);
    background: $menuBg;
    // width: 100%;

    position : fixed;
    font-size: 0px;
    top      : $logoHeight;
    right    : 0;
    left     : 0;
    z-index  : 1001;
    overflow : hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    // .el-scrollbar {
    //   height: 100%;
    // }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display : inline-block;
      width   : 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left : -2px;
    }

    .el-menu {
      border   : none;
      height: 100%;
      display  : flex;
      width    : 100% !important;
      min-width: 960px;
      background-color: rgba(0,0,0,0);
      .el-menu-item{
          height: 60px;
      }
    }
		.submenu-title-noDropdown{
			width: 150px !important;
		}
		
    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: rgba(0, 0, 0, 0) !important;
      }
    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText !important;
    }

    // & .nest-menu .el-submenu>.el-submenu__title,
    // & .el-submenu .el-menu-item {

    //   min-width       : $sideBarWidth !important;
    //   background-color: $subMenuBg !important;

    //   &:hover {
    //     background-color: $subMenuHover !important;
    //   }
    // }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      display : inline-block;
      padding : 0 !important;
      position: relative;
      width: 300px!important;
      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height    : 0;
            width     : 0;
            overflow  : hidden;
            visibility: hidden;
            display   : inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  .sidebar-redius {
    margin-left  : 10px;
    margin-right : 10px;
    border-radius: 10px;
  }

  .app-main {
    padding      : 10px;
    margin-top   : 0;
    width        : 100%;
    height       : 100%;
    position     : absolute;
    top          : $mainTop;
    border-radius: 10px;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width     : $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events     : none;
        transition-duration: 0.3s;
        transform          : translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
#app .sidebar-container{
	 //     box-sizing:border-box;
		// -moz-box-sizing:border-box; /* Firefox */
		
		// border-left:10px solid ;
		//   border-image: -webkit-linear-gradient(pink,red ) 20 20;
		
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left : -2px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background   : #99a9bf;
      border-radius: 20px;
    }
  }
}
